@{
    ViewData["Title"] = "İletişim";
}

@section Styles {
    <link rel="stylesheet" href="~/css/iletisim.css" asp-append-version="true">
   
}


<div class="iletisim-container">
    <div class="background"></div>
       
                <div class="subeler-wrapper">
                <!-- 1. Şube -->
                <div class="sube-karti">
                    <div class="sube-icerik">
                        <h3>Çamlıca Medipol Hastanesi</h3>
                        <p><strong>Adres:</strong> Küçükçamlıca Mah. Çilehane Yolu Sk. No: 1 Üsküdar/İstanbul</p>
                        <p><strong>Telefon:</strong> (0216) 123 45 67</p>
                        <p><strong>E-posta:</strong> camlica@medipol.com.tr</p>
                    </div>
                    <div class="sube-harita">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.0788920505443!2d29.07941307551468!3d41.02352991848631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac905425ea621%3A0xf2bdf4ab685710bb!2sMedipol%20%C3%9Cniversitesi%20%C3%87aml%C4%B1ca%20Hastanesi!5e0!3m2!1str!2str!4v1747237653519!5m2!1str!2str" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                </div>

                <!-- 2. Şube -->
                <div class="sube-karti">
                    <div class="sube-icerik">
                        <h3>Koşuyolu Hastanesi</h3>
                        <p><strong>Adres:</strong> Koşuyolu Mah. Gazi Cad. No:19 Kadıköy/İstanbul</p>
                        <p><strong>Telefon:</strong> (0216) 234 56 78</p>
                        <p><strong>E-posta:</strong> kosuyolu@medipol.com.tr</p>
                    </div>
                    <div class="sube-harita">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.9305201244647!2d29.03164197551378!3d41.004893919634114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab9d5567191bb%3A0x539be573a6e147aa!2sMedipol%20Ko%C5%9Fuyolu%20Hastanesi!5e0!3m2!1str!2str!4v1747237550124!5m2!1str!2str" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                </div>

                <!-- 3. Şube -->
                <div class="sube-karti">
                    <div class="sube-icerik">
                        <h3>Bağcılar Medipol Mega Hastanesi</h3>
                        <p><strong>Adres:</strong> TEM Avrupa Otoyolu Göztepe Çıkışı Bağcılar/İstanbul</p>
                    <p><strong>Telefon:</strong> 4447044</p>
                    <p><strong>E-posta:</strong> info@medipol.com.tr</p>
                    </div>
                    <div class="sube-harita">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.467793131669!2d28.840491075516642!3d41.0587662163153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa5435bc53d6f%3A0xb440db71b79c2dd5!2sMedipol%20Mega%20%C3%9Cniversite%20Hastanesi!5e0!3m2!1str!2str!4v1747237687824!5m2!1str!2str" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                </div>

                <!-- 4. Şube -->
                <div class="sube-karti">
                    <div class="sube-icerik">
                        <h3>Sefaköy Hastanesi</h3>
                        <p><strong>Adres:</strong> Fevziçakmak Mah. Ankara Cad. No: 156 Küçükçekmece/İstanbul</p>
                    <p><strong>Telefon:</strong> 02129122525</p>
                    <p><strong>E-posta:</strong> infosefakoy@medipol.edu.tr</p>
                    </div>
                    <div class="sube-harita">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.4728438962147!2d28.795353075514285!3d41.01491001901731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa471d0a246f7%3A0xa42f0c685e258178!2zTUVExLBQT0wgw5xOxLBWRVJTxLBURVPEsCBTRUZBS8OWWSBIQVNUQU5FU8Sw!5e0!3m2!1str!2str!4v1747237779399!5m2!1str!2str" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                </div>

                <!-- 5. Şube -->
                <div class="sube-karti">
                    <div class="sube-icerik">
                    <h3>Bahçelievler Medipol Hastanesi</h3>
                    <p><strong>Adres:</strong> Çobançesme Mahallesi, Fatih Caddesi, No:1/8, Bahçelievler, 34196 İstanbul</p>
                    <p><strong>Telefon:</strong> 4447044</p>
                    <p><strong>E-posta:</strong> info@medipol.com.tr</p>
                    </div>
                    <div class="sube-harita">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.227047065734!2d28.825622183258826!3d40.99840344618154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa590c38234a7%3A0x542644bacef65643!2sMedipol%20Bah%C3%A7elievler%20Hastanesi!5e0!3m2!1str!2str!4v1747238113172!5m2!1str!2str" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                </div>

                <!-- 6. Şube -->
                <div class="sube-karti">
                    <div class="sube-icerik">
                    <h3>Esenler Medipol Üniversitesi Hastanesi</h3>
                    <p><strong>Adres:</strong> İstanbul Medipol Üniversitesi Sağlık Uygulama ve Araştırma Merkezi Esenler Hastanesi Birlik Mahallesi Bahçeler Caddesi No:5, 34250 Esenler / İstanbul</p>
                    <p><strong>Telefon:</strong> 02124401000</p>
                    <p><strong>E-posta:</strong> infoesenler@medipol.edu.tr</p>
                    </div>
                    <div class="sube-harita">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.8070084215774!2d28.86342017551614!3d41.051349316772516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cabab18f5c3b0f%3A0x8b8513480a812957!2sMedipol%20%C3%9Cniversitesi%20Esenler%20Hastanesi!5e0!3m2!1str!2str!4v1747238657792!5m2!1str!2str" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                </div>

                <!-- 7. Şube -->
                <div class="sube-karti">
                    <div class="sube-icerik">
                    <h3>Vatan Medipol Üniversitesi Hastanesi</h3>
                    <p><strong>Adres:</strong> Vatan Cad. Halıcılar Köşkü Sk. No:11 Aksaray, Fatih-İstanbul</p>
                    <p><strong>Telefon:</strong> 02126311522</p>
                    <p><strong>E-posta:</strong> infovatan@medipol.edu.tr</p>
                    </div>
                    <div class="sube-harita">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24083.76443533884!2d28.90378475189209!3d41.01496011847654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caba2535866be5%3A0xba8d5026447501c5!2sMedipol%20%C3%9Cniversitesi%20Vatan%20Klini%C4%9Fi!5e0!3m2!1str!2str!4v1747238736706!5m2!1str!2str" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                </div>

                <!-- 8. Şube -->
                <div class="sube-karti">
                    <div class="sube-icerik">
                    <h3>Pendik Medipol Üniversitesi Hastanesi</h3>
                    <p><strong>Adres:</strong> Bahçelievler Mahallesi Adnan Menderes Bulvarı no:31-33 Pendik İstanbul</p>
                    <p><strong>Telefon:</strong> 02166828000</p>
                    <p><strong>E-posta:</strong> info@medipol.com.tr</p>
                    </div>
                    <div class="sube-harita">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24131.377131791585!2d29.1972433743164!3d40.884553999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cadd363c1bd6c9%3A0x382a9333f8c69276!2sMedipol%20%C3%9Cniversitesi%20Pendik%20Hastanesi!5e0!3m2!1str!2str!4v1747238782049!5m2!1str!2str" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                </div>

                <!-- 9. Şube -->
                <div class="sube-karti">
                    <div class="sube-icerik">
                    <h3>Unkapanı Medipol Üniversitesi Diş Hastanesi</h3>
                    <p><strong>Adres:</strong> Atatürk Bulvarı No:27 Unkapanı Fatih/İstanbul</p>
                    <p><strong>Telefon:</strong> 4446344</p>
                    <p><strong>E-posta:</strong> infounkapani@medipol.edu.tr</p>
                    </div>
                    <div class="sube-harita">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24081.41450495481!2d28.9213103055954!3d41.0213874867834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab9f3eb55c3a3%3A0x458d8278296c05ed!2sMedipol%20%C3%9Cniversitesi%20Di%C5%9F%20Hastanesi!5e0!3m2!1str!2str!4v1747238848344!5m2!1str!2str" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                </div>

            <div class="sube-karti">
                <div class="sube-icerik">
                    <h3>Ankara Medipol Üniversitesi Diş Hastanesi</h3>
                    <p><strong>Adres:</strong> Eti, Celal Bayar Blv. No:88/1, 06570 Çankaya/Ankara</p>
                    <p><strong>Telefon:</strong> 4442010</p>
                    <p><strong>E-posta:</strong> dishastanesi@ankaramedipol.edu.tr</p>
                </div>
                <div class="sube-harita">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.3793382353792!2d32.84308587545788!3d39.93290378494549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f1eddf9b793%3A0xc2f78615be68293d!2sAnkara%20Medipol%20Di%C5%9F%20Hastanesi!5e0!3m2!1str!2str!4v1747239094755!5m2!1str!2str" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

                <!-- 10. Şube -->
                <div class="sube-karti">
                    <div class="sube-icerik">
                    <h3>MEDİPOL Acıbadem Bölge Hastanesi</h3>
                    <p><strong>Adres:</strong> Acıbadem, Şht. Emin Çölen Sokağı No:4, 34718 Kadıköy/İstanbul</p>
                    <p><strong>Telefon:</strong> 02165441111</p>
                    <p><strong>E-posta:</strong> info@medipol.com.tr</p>
                    </div>
                    <div class="sube-harita">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24088.383921390025!2d29.007437174316404!3d41.0023228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab994243cfa47%3A0xcedce85c3601be08!2sMedipol%20Ac%C4%B1badem%20B%C3%B6lge%20Hastanesi!5e0!3m2!1str!2str!4v1747239024707!5m2!1str!2str" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                </div>

</div>
</div>

 
